.common-root {

}
input.delete-graph{
	padding: 0px;
	margin-top: 15px;
	width: 300px;
	/*position: absolute;*/
	/*top: 0;*/
	/*right: 0;*/
}

.center {
	display: flex;
	justify-content: center;
}

.button-add-graph {
	width: 400px;
	font-family: Avenir;
	font-size: 20px;
	padding: 5px 40px 5px 40px;
	margin-top: 20px;
}

.button-add-graph:hover {
	background-color: #ddd;	
	font-style: italic;
	border: 1px solid #333;

}