.data-root {
	width: 100%;
}

.data-root .sections {
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	/*flex-wrap: wrap;*/
    font-family: Avenir;
}

.data-root .sections div.v-select{
	/*flex:1;*/
	min-width: 500px;
	margin-left: 60px;
}
.data-root span{
    font-size: 20px;
}

.data-root .sections{
    margin-bottom: 20px;
}


